body{
font-family: cursive;
font-size: 12pt;
margin: 72pt;
line-height: 2;
text-indent: 0%;
}

h1 {
color: magenta;
/* color: teal;
color: #bada55; */
background-color: #bada55;
text-align: center;
font-size: 30pt;
font-size: 30px;
font-size: 400%;
font-weight: 900;
}

p {
  font-weight: 900;
}

b,
strong {
  font-weight: 200;
}

a {
  color: green;
  /*text-decoration: none removes the underline*/
  text-decoration: none;

}

a:hover{
  background-color: green;

}



.flan {
  font-weight: 400;
  color: orange;
}
