section.container {
     display: grid;
     grid-template-columns: auto auto;
     grid-column-gap: 20px;
     max-width: 800px;
     margin: 0 auto;
   }

   body{
     display: grid;
     max-width: 900px;
     margin: 0 auto;
     background-color: #ED7402;
   }

   .cover {
     grid-column: 1/2;
     grid-row: 1/2;
     height: 500px;
     margin-bottom: 50px;
   }


   .content {
     grid-column: 2/3;
     grid-row: 1/2;
   }

   .title {
     font-size: 50px;
     margin-bottom: 10px;
     text-align: center;
   }

   a.buyme {
     color: red;
     text-decoration: none;
     font-size: 20px;
     font-weight: bold;
     padding-left: 20px;
     padding-right: 20px;
     padding-top: 4px;
     padding-bottom: 8px;
     background-color: aquamarine;
     border-radius: 20px;
     text-align: center;
   }

   h1{
     
     color: #F59D05;
     text-align: center;
    font-family: 'Montserrat', sans-serif;
   }

   .html{
     font-family: "inter", sans-serif;
     font-size: 25px;
     line-height: 1;
     display: grid;
   }

   .cat{

       text-decoration: underline;
       color: #F59D05;
       text-align: center;
      font-family: 'Montserrat', sans-serif;
      background-color: aquamarine;

     border-radius: 20px;
     border:10px solid aquamarine;
     /*height and width is for content itself.*/
     text-align: center;
     margin-bottom: 50px;
     margin-top: 30px;
       font-family: 'Montserrat', sans-serif;
       text-decoration: underline;
   }

   .closer{
     font-family: fantasy;
     text-align: center;
   }

   nav{
     color: red;
      text-decoration: none;
      font-size: 20px;
      font-weight: bold;
      padding-left: 100px;
      padding-right: 100px;
      background-color: aquamarine;
      border-radius: 20px;
       font-family: fantasy;
       text-align: center;
   }



   /* Style the header */
.header {text-decoration: none;
font-size: 20px;
font-weight: bold;
background-color: aquamarine;
border-radius: 20px;
 font-family: fantasy;
 text-align: center;
}

/* Page content */
.content {
  padding: 10px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 10;
  width: 60%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 20px;
}
